
.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  display: flex;
  margin: 5px 10px;
  padding: 12px 40px 12px 15px;
  border-radius: 1px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #315efb;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0px 2px 8px 2px rgba(141,150,178,.3);
  transform: scale(1.05);
}

.btn_text {
  margin-right: 10px;
}



/* .icon1 circle {
  fill: white;
  stroke: black;
  
}

.icon1 line{
  stroke: black;
}

.icon2 circle{
  fill:black;
  stroke: black;
  
}

.icon2 line{
  stroke: white;
} */
.icon1{
  display:block;
  top:2px;
  right:30px;
  width: 15px;
  height: 15px;
  position:absolute;
}

.icon2{display: none;
}

.btn--magic>.icon2{
  top:2px;
  right:30px;
  display: block;
  width: 15px;
  height: 15px;
  position:absolute;
}
.btn--magic>.icon1{
  display: none;
}

